<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common module
    </p>

</div>


<div class="grid">
    <div class="col">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}}. Es un placer {{genero | i18nSelect:invitacionMap}} a nuestro evento
            </p>
            <button pButton type="button" class="p-button-help" (click)="cambiarPersona()" label="Cambiar persona">

            </button>
        </p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente {{clientes.length | i18nPlural:clientesMap }}
            </p>
            <button pButton type="button" class="p-button-danger" (click)="borrarCliente()" label="Borrar cliente">

            </button>
        </p-fieldset>
    </div>
</div>