<!-- <div class="text-layout">
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{numero | number}}</h1>
    <h1>{{obj | json}}</h1>

</div>

<button pButton type="button" class="p-button-help" iconPos="right" icon="pi pi-check" label="Cambiar nombre" (click)="mostrarNombre()">
</button>

<div class="text-layout">
    <p-card [header]="nombre | titlecase" subheader="subheader">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quae saepe dignissimos iusto ex labore maxime nihil, earum non, voluptate corporis animi, rem alias natus officiis magni repellendus dolorem vel!
    </p-card>
</div> -->

<app-menu>

</app-menu>